body {
    background-color: #d5c8b9;
    margin: 0;
}

.menu {
    background-color: #c7b6a2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 30px;
    gap: 25px;
}

.menu a:hover {
    color: #ff0000;
    border-bottom: 2px solid #c9a063;
}

.menu a {
    color: black;
    text-decoration: none;
}

h1, h2, p {
    margin-left: 10px;
}

h2, p strong {
    color: #1a2536;
}

.recommend {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}

.recommend img {
    width: 200px;
    height: auto;
    margin-right: 20px;
    margin-left: 10px;
}

.recommend iframe {
    margin-right: 20px;
    margin-left: 10px;
}

.descricao {
    max-width: 50%;
}